/* @media screen and (min-width: 1251px){ */
.container {
	margin-top: 5vh;
	width: 90vw;
	display: grid;
	grid-template-columns: 27% auto;
}
.sidebar{
	width:100%;
	height:100%;
}

.content{
	width:100%;
	height:90vh;
}
.content-canvas{
	width:100%;
	height:90vh;
	display: flex;
	align-items: center;
  	justify-content: center;
}
	
/* .spacer{
	width:7%;
	height:100%;
	vertical-align:top;
} */

.here{
	color:tomato;
}

.header-icon{
	width:5vw;
	display: block;
}
.icon-div-center{
	display:flex;
	justify-content: center;
}
.icon-size{
	width:5vw;
	height:5vw;
	
}
/* .nav{

	text-indent:none;
	margin-left:-20px;
	margin-top:30vh;
	position:fixed;
	bottom:10vh;

	font:20px avenir, helvetica;
} */

.logo{
	display:flex;
	position:fixed;
	max-width: 400px;
	max-height: 400px;
	/* display:none; */
}
.logo_mobile{
	/* display:flex;
	position:fixed; */

	display:none;
}

.normal-link{
	font: 50px avenir, helvetica;
	line-height: auto;
}

.photo-column{
	widows: 100px;
	height:	100%;
	vertical-align:top;
}

.slideshow{
	display: grid;
	grid-template-columns: auto 100%;
}
.dim{
	opacity: 75%;
	transition: 0.2s;

}
.instruct-desktop{
	display: initial;
}
.instruct-mobile{
	display: none;
}
.bright{
	opacity:100%;
	transition:1s;
}
.select-dim .thumbnail{
	opacity: 50%;
}
.deselect-dim .thumbnail{
	opacity: 100%;
}
.slider{
	height:auto;
	width:5vw;
}
.slider-expand{
	width: 5vw;
	height: auto;
	transform: translateX(5px);
}
.pub-expand{
	width: 5vw;
	height: auto;
	transform: rotate(3deg) translateX(5px);
}
.saberLink a:hover, a:focus{
	font-size:100%;
	transition: .2s;
}

.name-card{
	width: 50vw;
}
.burger div{
	width: 28px;
	height: 5px;
	background-color: orange;
	margin: 5px;
}
.burger{
	display: none;
}
.home-logo{
	opacity: 10%;
}
.horizontal-margin{
	margin-left: 10vw;
}
.develop-images{
	width: 50vh;
}
.big{
	max-width:60%;
	max-height:90%;
	/* object-fit: contain; */
	/* align-items: center; */
	/* display:inline-block; */
	position: -webkit-sticky;
	/* position: sticky; */
	position: fixed;	
}

.small{
	max-width:40%;
	/* max-height:90%; */
	/* object-fit: contain; */
	/* align-items: center; */
	/* display:inline-block; */
	position: -webkit-sticky;
	/* position: sticky; */
	position: fixed;
}
.magnify{
	width: 2vw;
	transform: translateY(.5vw);
	padding-right: 1vw;
}