/* @media screen and (min-width: 1251px){ */

::-webkit-scrollbar{
        /* display: none; */
        background:var(--yellow);
 }

.container {
	margin-top: 5vh;
	width: 90vw;
	display: grid;
	grid-template-columns: 27% auto;
}
.sidebar{ 
	width:100%;
	height:100%;
}

.content{
	width:100%;
	height:100vh;
}
.content-canvas{
	width:100%;
	height:90vh;
	display: flex;
	align-items: center;
  	justify-content: center;
}
.desktop-home{
	height: 100vh;
	display: flex;
	justify-content: center;
	margin-top: -5vw;	
}

.here{
	color:tomato;
}

.header-icon{
	width:5vw;
	display: block;
}
.icon-div-center{
	display:flex;
	justify-content: center;
}
.icon-size{
	width:5vw;
	height:5vw;
	
}
.logo{
	display:flex;
	position:fixed;
	max-width: 400px;
	max-height: 400px;
	/* display:none; */
}
.logo_mobile{
	/* display:flex;
	position:fixed; */

	display:none;
}

.normal-link{
	font: 35px avenir, helvetica;
	line-height: auto;
	margin-top: 5vh;
}
.normal-link a:hover{
	text-decoration: line-throughf;
}

.photo-column{
	widows: 100px;
	height:	100%;
	vertical-align:top;
}

.slideshow{
	display: grid;
	grid-template-columns: auto 100%;
}
.dim{
	opacity: 75%;
	transition: 0.2s;

}
.instruct-desktop{
	display: initial;
}
.instruct-mobile{
	display: none;
}
.bright{
	opacity:100%;
	transition:1s;
}
.select-dim .thumbnail{
	opacity: 50%;
}
.deselect-dim .thumbnail{
	opacity: 100%;
}
.slider{
	height:auto;
	width:5vw;
	position: relative;
	transition: 0.2s;
}
.notch{
	width: 1vw;
	position: absolute;
	transform: translateX(-5vw) rotate(-90deg);
}
.slider-expand{
	width: 5vw;
	height: auto;
	transform: translateX(5px);
}
.pub-expand{
	width: 5vw;
	height: auto;
	transform: rotate(3deg) translateX(10px);
	transition: 0.2s;
}
/* .saberLink a:hover, a:focus{
	font-size:100%;
	transition: .2s;
} */

.name-card{
	width: 50vw;
}
.burger div{
	width: 28px;
	height: 5px;
	background-color: orange;
	margin: 5px;
}
.burger{
	display: none;
}
.home-logo{
	opacity: 10%;
}
.horizontal-margin{
	margin-left: 10vw;
}
.develop-images{
	width: 50vh;
}
.big{
	max-width:60%;
	max-height:90%;
	/* object-fit: contain; */
	/* align-items: center; */
	/* display:inline-block; */
	position: -webkit-sticky;
	/* position: sticky; */
	position: fixed;	
}
.pub-big{
	max-width:35%;
	max-height:75%;

	/* min-height: auto; */
	/* object-fit: contain; */
	/* align-items: center; */
	/* display:inline-block; */
	position: -webkit-sticky;
	/* position: sticky; */
	position: fixed;	
}

.pub-big img{
	object-fit: contain;
}


.small{
	max-width:40%;
	/* max-height:90%; */
	/* object-fit: contain; */
	/* align-items: center; */
	/* display:inline-block; */
	position: -webkit-sticky;
	/* position: sticky; */
	position: fixed;
}
.magnify{
	width: 1.5vw;
	transform: translateY(.2vw);
	padding-right: 1vw;
}
.superscript{
	font-size: 50%;
}
.load-object{
	margin-top: auto;
	margin-bottom: auto;
	width: 30vw;
	/* max-width:400px; */
}
.desktop-load{
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	transform: translateX(-6vw) translateY(-5vw);
}
.desktop-load img{
	position: fixed;
	align-self: center;
	margin-top:auto;
	margin-bottom:auto;
}
.logo-video-text-div{
	transform: translateX(6vw);
	margin-top: auto;
	margin-bottom: auto;
}
.home-sidescroll-spacer{
	width: 50vw;
}
.home-sidescroll{
	display: flex;
	width: 100vw;
	height:100%;
	overflow-x: auto;
	align-items: center;
}
::-webkit-scrollbar{
	display: none;
}
.whats-new-content{
	height: 200px;
	/* max-height: 400px; */
	margin-left: 10vw;
}
.whats-new-dim{
	opacity: 75%;
}
.blur{
	filter: blur(1.5px);
	transition: 1s;
	opacity: 0.75;
}
.unblur{
	filter: blur(0px);
	transition: 0.3s;
	opacity: 1;
}
.last-whats-new{
	margin-right: 45vw;
}
.arrow{
	margin-top: auto;
	margin-right: 50px;
	margin-bottom: 50px;
	position: fixed;
	width: 100px;
}
.desktop-welcome-text{
	width: 25vw;
	transform: translateX(5vw);
	/* margin-left: 5vw; */
	color: var(--yellow);
}
.tug{
	animation: slide 2.5s infinite ease;
	animation-delay: 4s;
}

	@keyframes slide{
		0%{
			translate: 0px;
		}
		5% {
			translate: 10px;
		}
		10%{
			translate: 0px;
		}
		15% {
			translate: 5px;
		}
		20%{
			translate: 0px;
		}
		100%{
			translate:0px;
		}
	}

.tug-delay{
	animation: slide 2.5s  infinite ease;
	animation-delay: 4.04s;
}

	@keyframes slide{
		0%{
			translate: 0px;
		}
		5% {
			translate: 10px;
		}
		10%{
			translate: 0px;
		}
		15% {
			translate: 5px;
		}
		20%{
			translate: 0px;
		}
		100%{
			translate:0px;
		}
	}

.rotate-2 {
	animation: rotation-2nd 20s infinite linear;
  }
  
  @keyframes rotation-2nd {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(359deg);
	}
  }

.rotate-sun {
	animation: rotation-sun 5s infinite linear;
  }
  
  @keyframes rotation-sun {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(359deg);
	}
  }

  .rotate-1 {
	animation: rotation-1st 10s infinite linear;
  }
  
  @keyframes rotation-1st {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(359deg);
	}
  }

  .rotate-3 {
	animation: rotation-3rd 50s infinite linear;
  }
  
  @keyframes rotation-3rd {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(359deg);
	}
  }

.fade-in{
  	animation: fadeIn 3s ease-in;
  }
  
  @keyframes fadeIn {
	0% {
		opacity: 0%;
	}
	100% {
		opacity: 100%;
	}
}

.loader-fade-out{
	animation: fadeOut 1s ease-out;
}

	@keyframes fadeOut{
		0%{
			opacity: 100%;
		}
		100%{
			opacity: 0%;
		}
		
	}

.test-box{
	/* width: 100%;
	height: 100%; */
	background-color: gray;
}
.little-boxes{

}


~~~~~~~~ index0 classes ~~~~~~~~

