/* 
.nav-home a:hover, a:focus{
	color:white;
	font-size: 100%;
	transition: 0.2s;
} */

.nav-else a:hover, a:focus{
	color:#383838d2;
	/* margin-left:3px; */
	font-size:100%;
	transition: .5s;
}
.nav-home .nav-else ul, li{
	list-style:none;
	padding-top:3vh;
}

/* .not-nav, a:hover, a:focus {
	opacity: 0.5;
	transition: 0.5s;
} */

.logo a:hover, a:focus{
	margin-left:0px;
	margin-top:0px;
	transition: .3s;
	background-color:none;
	/* width:120%; */
	/* height:105%; */
}

#to-enlarge span{
	widows: 30%;
	height: auto;
	display:flex;
	flex-wrap:wrap;
	justify-content: space-around;
}

@media screen and (max-device-width: 900px){
    .not-nav, a:hover, a:focus {
        font-size: 100%;
        transition: 0.15s;
        padding:0px 0px 5px 0px;
    }
    .nav-else a:hover, a:focus{
        color: #eecd27;
        margin-left:0px;
        font-size:100%;
        transition: .2s;
        background-color: none;
        padding: none;}
}