:root {
	--yellow: #eecd27;
	--teal: #7effc3d2;
	--grey: #383838d2;
	--background: #f8f8f8; 
	--orange: orange;
}

body{
	margin-top:5vw;
	margin-left:6vw;
	margin-right:7vw;
	/* margin-bottom:5vw; */
	background: var(--background);
}
::selection{
	background: var(--teal);
}
ul{
	list-style:none;
	position:fixed;
	
}

a{
	color:var(--yellow);
	text-decoration:none;
	font-family:avenir, helvetica;
}

p{
	font-size: 20px;
	font-family: avenir, helvetica;
}

h2{
	font:2vw avenir, helvetica;
}


@media only screen and (max-width: 900px){
body{
	/* overflow-x: hidden; */
	/* margin-top: 3vw; */
	margin-left: 0vw;
	margin-bottom: 0vw;
	margin-right: 0vw;
	/* overflow-y: auto; */
	overflow:auto;
    -webkit-overflow-scrolling: touch;
}
ul{
	position:initial;
}
p{
	font-size:17px;
	font-family: avenir, helvetica;
	/* text-align: justify; */
}
a{
	color:var(--yellow);
	text-decoration:none;
	font-family: avenir, helvetica;
}
::-webkit-scrollbar{
	display: none;
}
}