
body{
	margin-top:5vw;
	margin-left:6vw;
	margin-right:7vw;
	/* margin-bottom:5vw; */
}

ul{
	list-style:none;
	/* padding-top:6vh; */
	/* margin-left:-40px; */
	position:fixed;
	
}

a{
	color:#eecd27;
	text-decoration:none;
	font-family:avenir, helvetica;
}

p{
	font-size: 20px;
	font-family: avenir, helvetica;
}

h2{
	font:2vw avenir, helvetica;
}


@media only screen and (max-width: 900px){
body{
	overflow-x: hidden;
	/* margin-top: 3vw; */
	margin-left: 0vw;
	margin-bottom: 0vw;
	margin-right: 0vw;
	overflow-y: auto;
}
ul{
	position:initial;
}
p{
	font-size:17px;
	font-family: avenir, helvetica;
	/* text-align: justify; */
}
a{
	color:#eecd27;
	text-decoration:none;
	font-family:avenir, helvetica;
}
::-webkit-scrollbar{
	display: none;
}
}