@media only screen and (max-width: 900px){
    #nav{
	    /* position: initial; */
        font:20px avenir, helvetica;
        text-indent:none;
	    margin-left:0px;
	    margin-top:0vh;
	    position:fixed;


	font:20px avenir, helvetica;
    }
    #about-text{
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
   #about-icon{
       margin-left:0px;
       display:flex;
       justify-content: center;
   }
    #logo-size{
        width: 9vh;
    }

    #mobile-content{
        margin-top: 40vw;
    }
}