/* @media screen and (max-device-width: 900px){
    .not-nav, a:hover, a:focus {
        font-size: 100%;
        transition: 0.15s;
        padding:0px 0px 5px 0px;
    }
    .nav-else a:hover, a:focus{
        color: #eecd27;
        margin-left:0px;
        font-size:100%;
        transition: .2s;
        background-color: none;
        padding: none;}
} */