@media screen and (max-device-width: 1250px){
    .container { 
        /* justify-content: center; */
        display:grid;
        grid-template-rows: 70vh 100vh;
    }
    .sidebar {
        width:100%;
        /* align-content: flex-end; */

        /* grid-row-start: 1; */

    }
    .content {
        position:initial;
        display:block;
        margin-bottom: 10vh;
    }
    .content-canvas{
        /* margin-top: -5vw; */
        /* display:flex; */
        align-items: center;
        justify-content: center;
    }
    .logo{

    }
    .header-icon{
        width:15vw;
        margin-left: auto;
        margin-right: auto;
    }

    .slideshow{
        display: grid;
        grid-template-columns: ;
    }
}