@media only screen and (max-width: 900px){
    .container { 
        /* justify-content: center; */
        width:100vw;
        
    }
    .sidebar {
        width:100vw;
        height:auto;
        display: flex;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto;
        position: fixed;
        top:0px;
        background:linear-gradient(white, #F8F8F8);
        box-shadow: 0 0 4px 0px white;
        /* padding-top: 5px;
        padding-bottom:5px; */
        align-content: center;
        opacity: 97%;
        z-index: 1000;
    }
    .content {
        width:86vw;
        position:initial;
        display:block;
        margin-top: 10vh;
        margin-left: 7vw;
        margin-right: 7vw;
    }
    
    .content-canvas{
        /* margin-top: -5vw; */
        /* display:flex; */
        align-items: center;
        justify-content: center;
    }
    .logo{
        /* display:flex;
        justify-content: left;
        align-items: center;
        width:100%;
        height:100%; */
        display:none;
    }
    .logo_mobile{
        display:flex;
        justify-content: left;
        /* align-items: center; */
        width:100%;
        height:100%;
        padding:13px 0px 2px 0px;
        /* display:none; */
        margin-left: 4vw;
    }
    .nav-else{
        width: 100vw;
        position: absolute;
        right:0px;
        height:100vh;
        top: 9vh;
        background:linear-gradient(#f8f8f8fa, white);
        display: flex;
        flex-direction: column;
        text-align: right;
        justify-content: right;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        z-index: 925;
        margin-top: -10px;
    }
    /* .nav-home li{
        opacity:0;
    
    } */

    .nav-else li{
        opacity: 100%;
        display: block;
        margin-right: 7vw;
        margin-top: 5px;
    }
    .nav-active{
        transform: translateX(0%);
    }
    .toggle .line1{
        transform: rotate(-45deg) translate(-7px, 7px);
    }
    .toggle .line2{
        opacity: 0;
    }
    .toggle .line3{
        transform: rotate(45deg) translate(-7px, -7px);
    }
    .burger{
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 7vw;
        display: block;
        cursor: pointer;
    }
    .burger div{
        width:30px;
        height:3px;
        /* background-color:#FFDD2A; */
        background-color:#eecd27;
        margin:7px 0px 7px 0px;
        transition: all 0.3s ease;
    }
    /* @keyframes navLinkFade{
        from{
            opacity: 0;
            transform: translateX(50px);
        }to{
            opacity:1;
            transform: translate(0px);
        }
    } */
    .header-icon{
        width:15vw;
        margin-left: auto;
        margin-right: auto;
    }

    .slideshow{
        display: grid;
        grid-template-columns: 90vw;
        grid-template-rows: 85% 15%;
        
    }
    .thumbnail{
        display: inline-block;
    }
    .slider{
        height: 15vh;
        width: auto;
        margin-left: 5px;
    }
    
    .icon-div-center{
        display:flex;
        justify-content: center;	
    }
    .icon-size{
        width:12vw;
        height:12vw;
        display:block;
    }
    /* .burger{
        display:flex;
        align-content: center;
    } */
    
}