@media only screen and (max-width: 900px){

    #home-body{
        overflow-y: hidden;
    }
    #nav{
        font:20px avenir, helvetica;
        text-indent:none;
	    margin-left:0px;
	    margin-top:0vh;
	    position:fixed;


	font:20px avenir, helvetica;
    }
    #about-text{
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
    #page-message{
        margin-left: 5vw;
        margin-right: 5vw;
    }
    #about-icon{
       margin-left:0px;
   }
    #logo-size{
        max-width: 1.4cm;
    }
    #hello{
        z-index: 900;
    }
    #hi{
        transform: initial;
        font-size: 15vh;
    }
    #image-thumbnail{
        display: flex;
        overflow-x: auto;
        width: 100vw;
        height: 80vh;
        grid-row: 2;
        position: fixed;
        top: 70vh;
        transform: translateY(19mm);
        margin-left:-7vw;
        margin-right:0px;
        z-index: 950;
        background: #f8f8f8;
        padding-top: 5px;
    }
    #image-magnifier{
        width: 100%;
        height: 70vh;
        left:0px;
        top: 19mm;
        position: fixed;
        grid-row: 1;
        z-index: 900;
        display: flex;
        align-content: center;
    }
    #big{
        max-width:100%;
        max-height:75vh;
        position: fixed;	
    }
    #photostream-text{
        width:60%;
        max-width: 300px;
        height:auto;
        display:inline-block;
        margin-left: 3vw;
        /* border: 1px solid grey;	 */
        transform: translateX(-1vw);
    }
    #desktop-home-video{
    width: 60vw; 
    max-width: 300px;
    max-height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vh;
    transform: translateX(5vw);
    }
    #desktop-home{
        margin-top: 20vh;
        /* position: fixed; */
    }
    #welcome-text{
        margin-left:auto;
        margin-right:auto;
        font-size: 7vw;
        font-weight: 500;
        text-align: center;
        display: initial;
    }
    #logo-container{
        margin-left: auto;
        margin-right: auto;
        /* position: fixed; */
        height: 300vh;
    }
    #home-logo-setting{
        opacity: 0%;
    }
    #logo-size-home{
        display: none;
    }
    #home-logo{
        width: 300px;
    }
    #contact-icon{
        display:none;
        width: 10vw;
        height: 10vw;
    }
    /* #myVideo {
        position: fixed;
        max-width: 250px;
        max-height: 250px;
        transform: translateX(18px);
      } */
    #corner-video{
        position: fixed;
        max-width: 1.4cm;
        opacity: 90%;
    }
    #swipe{
        font-size: 12px;
        margin-left: 18px;
        margin-right: 10px;
        margin-top: 2.5vh;
        display: none;
    }
    #meta-info{
        display:none;
    }
    #info-description{
        /* margin: 0 4vw 0 4vw; */
    }
}