@media screen and (max-device-width: 768px){
    .container { 
        /* justify-content: center; */
        /* width:90vw; */
        
    }
    .sidebar {
        width:90%;
        height:auto;
        display: flex;
        grid-template-columns: 50% 50%;
        position: fixed;
        top:0px;
        background: white;
        box-shadow: 0 0 6px 0px white;
        /* padding-top: 5px;
        padding-bottom:5px; */
        align-content: center;
        opacity: 95%;
    }
    .content {
        position:initial;
        display:block;
        margin-top: 30vw;
        /* margin-bottom: 10vh; */
    }
    
    .content-canvas{
        /* margin-top: -5vw; */
        /* display:flex; */
        align-items: center;
        justify-content: center;
    }
    .logo{
        /* display:flex;
        justify-content: left;
        align-items: center;
        width:100%;
        height:100%; */
        display:none;
    }
    .logo_mobile{
        display:flex;
        justify-content: left;
        align-items: center;
        width:100%;
        height:100%;
        padding:13px 0px 2px 0px;
        /* display:none; */
    }
    .nav-home{
        display:none;
    }
    .nav-else{
        display:none;
    }
    .header-icon{
        width:15vw;
        margin-left: auto;
        margin-right: auto;
    }

    .slideshow{
        display: grid;
        grid-template-columns: ;
    }
    .icon-div-center{
        display:flex;
        justify-content: center;	
    }
    .icon-size{
        width:20vw;
        height:20vw;
        display:block;
    }
    /* .burger{
        display:flex;
        align-content: center;
    } */
    .burger{
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 2%;
    }
    .burger div{
        width:35px;
        height:4px;
        background-color:#FFDD2A;
        margin:8px 0px 8px 0px;
    }
}