*{
    margin:0;
    padding:0;
    font-family: 'helvetica', san-serif;
    box-sizing: border-box;
    overflow: hidden
}

body{
    width: 100vw;
    height: 100vh;
    background: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

section{
    position: relative;
    width: 105vw; height: 105vh;
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
    align-items: center;
}

section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 50;
}
section div{
    position: absolute;
}

section h2{
    position: relative;
    color: black;
    font-size: 7em;
}
#text{
    z-index: 100;
    /* transform: translateX(15px) translateY(15px); */
}
#flex{
    /* transform: translateX(-15px) translateY(-15px); */

}
.spinning{
    animation: mymove 20s infinite linear;
    /* width: 120%;
    width: 120%; */
}
@keyframes mymove {
    25% {transform: rotate(90deg)}
    50% {transform: rotate(180deg)}
    75% {transform: rotate(270deg)}
    100% {transform: rotate(360deg)}
}